<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>

    <title th:text="'Диалог c ' + ${toUserName} + ' | SN'"></title>
</head>
<body style="margin-bottom: 95px">
<nav th:replace="/parts/navbar :: navbar"></nav>

<p th:if="${messages.isEmpty()}" class="m-5 text-center">В этом диалоге пока нет сообщений :(</p>
<div id="dialogList" class="m-5 text-center bottom-0" th:if="${!messages.isEmpty()}">
    <div th:each="message : ${messages}" class="mt-2 card bg-light justify-content-center align-items-center">
        <b th:text="${message.getUser().getUsername()}"></b>
        <p th:text="${message.getContent()}"></p>
    </div>
</div>
<div class="fixed-bottom bg-light" style="bottom: 50px">
    <form th:action="@{/dialog/{id}(id=${dialogId})}" th:object="${message}" method="POST" class="m-0 text-center">
        <input type="hidden" th:field="*{user}"/>
        <label>
            Сообщение:
            <input th:field="*{content}"/>
        </label>
        <button type="submit" class="btn btn-primary btn-small" id="send_button"
                style="border-color: #21cbff; background-color: #004991; color: #ffffff">Отправить
        </button>
    </form>
</div>
<span style="display:none" id="name" th:text="${toUserName}"></span>
<span style="display:none" id="orig_name" th:text="${message.getUser().getUsername()}"></span>

<footer th:replace="/parts/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script type="text/javascript" th:src="@{/js/setActiveNavLink.js}"></script>
<script type="text/javascript" th:src="@{/js/ws.js}"></script>
</body>
</html>