<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}"/>

    <title>Личный кабинет | SN</title>
</head>
<body>
<nav th:replace="/parts/navbar :: navbar"></nav>

<div class="m-5 text-center">
    <p>Добро пожаловать в личный кабинет "<span sec:authentication="name"></span>"</p>
    <p th:if="${userRole != ''}" th:text="'Все ваши роли: ' + ${userRole}"></p>
    <p th:if="${userRole == ''}">У вас нет ролей :(</p>
    <p>Список всех ролей:</p>

    <div style="align-content: center">
        <form th:action="@{/me}" th:object="${userForm}" method="POST">
            <p>
                <label>Роли:
                    <input type="checkbox" name="roles"
                           th:each="role : ${allRoles}"
                           th:text="' ' + ${role.name} + ' '"
                           th:value="${role.id}"
                           th:field="*{roles}"
                    />
                </label>
            </p>
            <button type="submit" class="btn btn-primary btn-small"
                    style="border-color: #20fc72; background-color: #00ff5e; color: #ffffff">Изменить роли
            </button>
        </form>
    </div>
</div>

<footer th:replace="/parts/footer :: footer"></footer>
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/setActiveNavLink.js/}"></script>
</body>
</html>